body {
  font-family: source sans pro;
  font-size: 1.5em;
}

.panels {
   width: 1100px;
  height: 420px;
}

.panels .panel {
  display: flex;
  flex-direction:row;
  width: 100%;;
  height: 100%;
}

.panel .text {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panel .text p {
  display:flex;
  background: #fff;
  text-transform:uppercase;
}

.panel .text p:nth-child(1){
  font-size: 10px;
  z-index: 1;
  opacity: 0.7;
  padding: 2%;
  
  
} 
.panel .text p:nth-child(2){
  font-size: 16px;
  z-index: 1;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  
}

.panel .text p:nth-child(3){
  font-size: 14px;
  z-index: 1;
  opacity: 0.7;
  padding: 2%;


}

.panel .text:first-child {
    background: url('https://images.unsplash.com/photo-1516571137133-1be29e37143a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=98feb08eaacddba8c029c8b5298ca3a0')no-repeat;
    background-size: cover;
    width: 100%; 
	  height: 100%;
 }

.panel .text:nth-child(2n) {
    background: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=906be87a2609423ee9767683b42fe061')no-repeat;
    background-size: cover;
    width: 100%; 
	  height: 100%;
  }

.panel .text:nth-child(3n) {
    background: url('https://images.unsplash.com/photo-1513553404607-988bf2703777?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=bcb760064a01a96ceb6428527b703f2b')no-repeat;
    background-size: cover;
    width: 100%; 
	  height: 100%;
 }

.panel .text:nth-child(4n) {
    background: url('https://images.unsplash.com/photo-1524799526615-766a9833dec0?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b7cd2c91e29356f745dd35858a09db42')no-repeat;
    background-size: cover;
    width: 100%; 
	  height: 100%;
  }

.panel .text:last-child {
    background: url('https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=c4956e2100913b851f6ec16b38703ab9')no-repeat;
    background-size: cover;
    width: 100%; 
	  height: 100%;
  }

