body{
  background: rgba(214,194,189,1);
  background: -moz-linear-gradient(top, rgba(214,194,189,1) 0%, rgba(154,124,116,1) 30%, rgba(136,106,99,1) 62%, rgba(202,181,175,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,194,189,1)), color-stop(30%, rgba(154,124,116,1)), color-stop(62%, rgba(136,106,99,1)), color-stop(100%, rgba(202,181,175,1)));
  background: -webkit-linear-gradient(top, rgba(214,194,189,1) 0%, rgba(154,124,116,1) 30%, rgba(136,106,99,1) 62%, rgba(202,181,175,1) 100%);
  background: -o-linear-gradient(top, rgba(214,194,189,1) 0%, rgba(154,124,116,1) 30%, rgba(136,106,99,1) 62%, rgba(202,181,175,1) 100%);
  background: -ms-linear-gradient(top, rgba(214,194,189,1) 0%, rgba(154,124,116,1) 30%, rgba(136,106,99,1) 62%, rgba(202,181,175,1) 100%);
  background: linear-gradient(to bottom, rgba(214,194,189,1) 0%, rgba(154,124,116,1) 30%, rgba(136,106,99,1) 62%, rgba(202,181,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6c2bd', endColorstr='#cab5af', GradientType=0 );
}

nav{
  background-color: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:0;
  margin-bottom:0;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: black;
  width: 35%;
  margin: auto;
}

ul a{
  text-decoration: none;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-size:24px;
  letter-spacing: 3px;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Home {
  width: 100%;
  height: 597px;
  background-image: url('images/pixel-2.jpeg');
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  position: relative; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  
}

.Home a{
  position: relative;
  margin-left: 30%;
  font-size:33px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
  color:rgba(240, 233, 233, 0.856);
  border: 1px, solid, black;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root{
  width:100%;
}

.Contactos{
  width: 40%;
  margin-top: 1%;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
}

.Favoritos{
  width: 40%;
  margin-top: 1%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.Contactos h2{
  padding: 2%;
  background-color:#28B463;
  color:white;
  text-align: center;
}

.Favoritos h2{
  padding: 2%;
  background-color:#5DADE2;
  color:white;
  text-align: center;
}

img{
  border-radius: 50%;
  float:left;
  padding-top: 5%;
}

figure{
  width: 80%;
  height: 120px;
  margin: auto;
}

figcaption{
  text-align: left;
  padding-top: 10%;
  margin-left: 25%;
  color: gray;
  text-transform: capitalize;
}

.Contactos button{
  margin-left: 2%;
  -moz-box-shadow: 0px 1px 0px 0px #3dc21b;
  -webkit-box-shadow: 0px 1px 0px 0px #3dc21b;
  box-shadow: 0px 1px 0px 0px #3dc21b;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
  background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color:#44c767;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2f6627;
  width: 120px;
  height: 30px;
}

.Contactos .button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color:#5cbf2a;
}

.Contactos .button:active {
  position:relative;
  top:1px;
}

.Favoritos button {
  margin-left: 2%;
  width: 120px;
  height: 30px;
  -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
  background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}

.Favoritos button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
  background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color:#019ad2;
}
  
.Favoritos button {
  position:relative;
  top:1px;
}
