@media (min-width: 320px) and (max-width: 640px) {
    .container{
        display: flex;
        flex-direction: column;
    }
  
    nav{
        text-align: center;
        word-spacing: 1em;
    }
      
    nav a{
        font-size:0.7em;
    }

    .carrusel{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding-bottom: 10%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top:3%;
    }    

    .grupoimg{
        display: inline-block;
        margin-left:14%;
        margin-right: 2%;
        margin-bottom: 10%;
        width: 70%;
        height: 100%;
        position: relative;
    }

    .grupoimg:nth-child(2){
        display: inline-block;
        margin-left:9%;
        width: 80%;
        height: 100%;
        position: relative;
    }
    
    #subitem1 p{
       font-size: 10px;
       margin-top: 15%;
    }

    #line{
        width: 50%;
        height: 2px;
        border-bottom: 2px solid black;
        margin:auto;
        margin-top: -5%;
    }

    .center-block{
        display: flex;
        flex-direction: column;
    }

  
    article h4{
        padding-top: 15px;
        font-size: 12px;
    }
    
    #parrafo{
        font-size:10px;
    }

    aside {
        width: 100%;
    }

    .line_aside {
        width: 20%;
    }
    
   aside h3{
        font-size: 10px;
    }

    #biography span{
        font-size: 9px;
        padding-left:18%;
        
    }
    
    #biography img {
        width: 20%; 
        height: 50%;
    }
    
    #form{
        width: 20%;
    }
    
    input[type=text] {
       width: 40%;
    }
    
    textarea {
        width: 40%;
        font-size: 10px;
    }
    
    .button {
        width: 40%;
        font-size: 10px;
        margin-bottom: 2%;
    }
    
    #footer p{
        font-size: 10px;
    }

    #footer {
        padding: 8%;
    }
    
}

@media (min-width: 1024px){
    .container{
        display: block;
    }

    nav{
        text-align: right;
        word-spacing: 20px;
    }

    nav a{
        font-size:1em;
    }

    .carrusel{
        display: flex;
        flex-direction: row;
        align-content: center;
        padding-top: 2%;       
    }

    .grupoimg{
        display: block;
        margin-left:2%;
        margin-right: 2%;
        width: 30%;
        position: relative;
    }

    .grupoimg:nth-child(2){
        display: inline-block;
        margin-left:2%;
        margin-right: 2%;
        width: 40%;
        position: relative;
    }
    
    #subitem1 p{
       font-size: 14px;
       margin-top: 30px;
    }

    #line{
        width: 75px;
        height: 5px;
        border-bottom: 2px solid black;
        margin:auto;
        margin-top: -10px;
    }

    .center-block{
        display: flex;
        flex-direction: row;
    }

    article h4{
        padding-top: 35px;
        font-size: 18px;
    }

    #parrafo{
        font-size:16px;
    }

      aside h3{
        font-size: 18px;
    }

    .line_aside {
        width: 25%;
    }
    
    #biography span{
        font-size: 15px;
        padding-left: 18%;
   }

    #biography img {
        width: 50%; 
        height: 70%;
   }

   #form{
        width: 60%;
    }

    input[type=text] {
        width: 62%;
     }

     textarea {
        width: 62%;
        font-size: 15px;
    }

    .button {
        width: 62%;
        font-size: 19px;
    }


    #footer p{
        font-size: 14px;
    }

    #footer {
        padding: 5%;
    }
}

    * {
        box-sizing: border-box;
    }

    .container{
        width: 100%;
        height: 100%;	
        position: relative;
    }

    .menu{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top:2%;
        padding-bottom:2%;
    }

    nav{
        justify-content: space-around;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }

    nav a{
        text-decoration:none;
        color: gray;
        font-family: 'Lato', sans-serif;
        font-style: bold;
    }   

    .carrusel{
        background-color: rgb(246, 246, 247);
        width: 100%;
        padding-bottom: 5%;         
    }

    .grupoimg img{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }


    #subitem1{
        border: 1px solid #AEB6BF;
        width: 40%;
        height: 40%;
        display: block;
        margin-left: 30%;
        margin-top: -16%;
        background-color: white;
        position: absolute;
        z-index: 1;	
    }

    #subitem1 p{
        text-align: center;
        font-family: "Calibri";
        color: gray;
    }

    .center-block{
        width: 100%;
        margin: auto;
        padding-top: 30px;
    }

    article {
        background-color: rgb(246, 246, 247);
        padding-bottom: 5%;
        padding-left:5%;
        padding-right: 5%;
        margin-left: 5%;
        width: 90%;
        margin-bottom: 3%;
    }

    article h4{
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: gray;
    }

    #buildings {
        background-color: rgb(246, 246, 247);
        width: 100%;
    }

    article img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #buildings img{
        width: 100%; 
        height: 60%;
    }

    #parrafo{
        padding-top:5%;
        width: 100%; 
        height: 20%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Lato', sans-serif;
        color: gray;	
    }

    .line_aside {
            
        height: 2px;
        border-bottom: 1px solid gray;
        margin:auto;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    aside h3{
        padding-top: 3%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        color: gray;
    }

    #biography{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    #biography span{
        display: block;
        font-family: 'Lato', sans-serif;
        color: gray;
    }

    #biography img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    #form{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    input[type=text] {
        border: 1px solid #AEB6BF;
        display: block;
        height: 35px;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;	
        padding-left: 5%;
        border-radius: 4px;
        color: gray;	

    }

    textarea {
        border: 1px solid #AEB6BF;
        display: block;
        height: 110px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        border-radius: 4px;
        font-family: 'Lato', sans-serif;
        color: gray;
    }

    .button {
        display: block;
        margin-left: auto;
        margin-right: auto;	
        padding-top: 5%;
        padding-bottom: 2%;
        border: none;
        border-radius: 6px;
        background-color: rgb(71, 82, 94);
        color: #D5D8DC;
        text-decoration:none;
        font-family: 'Lato', sans-serif;
    }

    #footer{
        background-color: rgb(71, 82, 94);
        text-align: center;
        color: #D5D8DC;
        width: 100%;
        margin: auto;
        font-family: 'Lato', sans-serif;

    }