@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
body{
	display: flex ;
	flex-direction: row;
    justify-content: center;
	font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
   	background-size: 100% 100%;
	background: rgba(252,236,252,1);
	background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(50%, rgba(251,166,225,1)), color-stop(51%, rgba(253,137,215,1)), color-stop(100%, rgba(255,124,216,1)));
	background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
	background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
	background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
	background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
}

#origen {
	width: 40%;
	margin-right: 1%;
	padding-top: 0.2%;
    padding-bottom: 1%;
}

#favoritos {
	width: 40%;
	margin-left: 1%;
	padding-top: 0.2%;
    padding-bottom: 1%;
}


article{
	align-items: center;
	margin: auto;
    width: 38%;	
    margin-bottom: 3%;
}

figure {
	border-radius: 10px;
    justify-content: center;
	margin: auto;
    width: 100%;
    height: 70%;
    padding-bottom: 5%;
    box-shadow: -5px 5px 4px 2px #FBECF5;
}

figcaption{
	text-align: center;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: white;
}

h1{    
    text-align: center;
    font-size:35px;
    letter-spacing: 5px;
    color: #AC4782;
  	text-shadow:
   	-1px -1px 0 #FBECF5,  
    1px -1px 0 #FBECF5,
    -1px 1px 0 #FBECF5,
    1px 1px 0 #FBECF5;
    font-family: 'Pacifico', cursive;
}

img{
    width: 100%;
    border-radius: 10px;
}